window-rule {
    match app-id="^_float$"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.8; }
}

window-rule {
    match app-id="^amdgpu_top$"
    match app-id="^ca.desrt.dconf-editor$"
    match app-id="^com.github.hluk.copyq$"
    match app-id="^ffplay$"
    match app-id="^firefox$" title="^Picture-in-Picture$"
    match app-id="^kvantummanager$"
    match app-id="^org.fcitx.fcitx5-config-qt$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^QQ$"
    match app-id="^qt6ct$"
    match app-id="^SVPManager$"

    open-floating true
}

window-rule {
    match app-id="^firefox$" at-startup=true
    open-maximized true
}

window-rule {
    match app-id="^footclient$" at-startup=true
    open-focused true
}

window-rule {
    match app-id="^gamescope$"
    variable-refresh-rate true
}

window-rule {
    match app-id="^io.github.htkhiem.Euphonica$"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.8; }
}

window-rule {
    match app-id="^io.missioncenter.MissionCenter$"
    open-floating true
    default-column-width { proportion 0.666666; }
    default-window-height { proportion 0.8; }
}

window-rule {
    match app-id="^org.gnome.Nautilus$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.75; }
}

window-rule {
    match app-id="^CherryStudio$"
    default-column-width { proportion 0.666666; }
}

window-rule {
    match app-id="^LM-Studio$"
    default-column-width { proportion 0.666666; }
}

window-rule {
    match app-id="^QQ$" title="^图片查看器$"
    scroll-factor 0.08
}
