* {
    font: 500 16px monospace;
}

#waybar {
    background: #404342;
    border-bottom: 1px solid #68706c;
}

tooltip {
    background: rgba(32, 32, 32, 0.75);
    border: 1px solid #78807c;
    border-radius: 8px;
}

tooltip * {
    font-weight: 400;
    padding: 2px 3px;
}

#custom-blank {
    min-width: 20px;
}

/* Modules */

#custom-archicon {
    font: 100 27px monospace;
    min-width: 36px;
    margin: 4px 8px;
    border-radius: 8px;
    background: #58605c;
    color: #1793d1;
}

#workspaces {
    margin: 6px 6px;
}

#workspaces button {
    min-width: 30px;
    border-radius: 8px;
    padding: 3px 0px 0px;
    margin: 0px 3px;
}

#workspaces button {
    background: #505452;
}

#workspaces button:hover {
    background: #606462;
}

#workspaces button.focused {
    background: #707472;
}

#workspaces button.urgent {
    background: #b84040;
}

#workspaces label {
    font-weight: 900;
}

#mpd,
#tray,
#pulseaudio,
#memory,
#clock {
    min-height: 30px;
    padding: 0px 10px;
    margin: 6px 6px;
    border-radius: 8px;
    border: 1px solid #78807c;
    box-shadow: 0px 0px 4px 0px rgba(160, 176, 168, 0.5);
}

#mpd,
#pulseaudio,
#memory,
#clock {
    background: #606864;
}

#mpd.paused,
#mpd.stopped,
#tray,
#pulseaudio.muted {
    background: #58605c;
}

#mpd:hover,
#mpd.paused:hover,
#mpd.stopped:hover,
#pulseaudio:hover,
#pulseaudio.muted:hover,
#memory:hover,
#clock:hover {
    background: #505653;
}

#mpd {
    font-size: 14px;
}

#window label {
    font-size: 14px;
}

#tray menu label {
    font-size: 14px;
}

#tray menu {
    padding: 6px 8px;
    border-radius: 8px;
    background: rgba(96, 104, 100, 0.875);
    border: 1px solid #a0b0a8;
}

#tray menu separator {
    background: #a0b0a8;
}